<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
		<% if (user) {%>
		<h1>
			WELCOME BACK <%= currentUser.first_name+" "+currentUser.last_name %>
		</h1>
		<a href="/user/messages">see messages</a>
		<a href="/user/join-to-members">join to members</a>
		<a href="/user/create-new-message">create message</a>
		<a href="/log-out">LOG OUT</a>
		<% } else { %>
		<h1>please log in</h1>
		<form action="/log-in" method="POST">
			<label for="username">Username</label>
			<input name="username" placeholder="username" type="text" />
			<label for="password">Password</label>
			<input name="password" type="password" />
			<button>Log In</button>
		</form>
		<%}%>
	</body>
</html>
