body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.form-group {
	display: grid;
	grid-template-columns: repeat(2, auto);
	background-color: #00b7ff;
}
